body {
  margin: auto;
  max-width: 80ch;
}
main {
  max-width: 60ch;
  display: inline-block;
  vertical-align: text-top;
}
header {
  text-align: center;
}
footer {
  text-align: center;
}
nav {
  width: 18ch;
  display: inline-block;
  vertical-align: text-top;
}
figure {
text-align: center;
}
figure img {
  max-width: 100%;
  height: auto;
}

main h1, main h2 {
  text-align: center;
}

iframe {
  max-width: 100%;
}
